<!-- admin:sidebar holder -->
<!-- admin:menu:start_for books -->
<li><%= link_to main_app.admin_books_url do %>
	<i class='fa fa-fw fa-table'></i> Books<% end %></li>
<!-- admin:menu:end_for books -->

<!-- admin:menu:start_for phones -->
<li><%= link_to main_app.admin_phones_url do %>
	<i class='fa fa-fw fa-table'></i> Phones<% end %></li>
<!-- admin:menu:end_for phones -->

<!-- admin:menu:start_for posts -->
<li><%= link_to main_app.admin_posts_url do %>
	<i class='fa fa-fw fa-table'></i> Posts<% end %></li>
<!-- admin:menu:end_for posts -->

<!-- admin:menu:start_for items -->
<li><%= link_to main_app.admin_items_url do %>
	<i class='fa fa-fw fa-table'></i> Items<% end %></li>
<!-- admin:menu:end_for items -->
